<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="asset/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="asset/CSS/styleprofilcombine_.css">
    <title>Document</title>
</head>
<body>
  <!--DEBUT NAV-->
  <div id="nav">
    
    <nav class="container">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="Acceuil.html"><u>Retour à l'acceuil </u> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-regular fa-bell"></i></a>
            </li>
            <img src="asset/image/d.jpg" alt="" class="user-img" onclick="toggleMenu()">

            <div class="menu-wrap" id="subMenu">
                <div class="sub-menu ">
                    <div class="user-2">
                        <img src="asset/image/d.jpg" class="user-imgs" alt="">
                        <h3>Timite Adja</h3>
                    </div>
                    <hr>
                    <a href="POFIL.html" class="user-icone">
                        <i class="fa-solid fa-user"></i>
                        <p>Mon profil</p>
                        <span>></span>
                    </a>
                    <a href="" class="user-icone">
                        <i class="fas fa-user-edit"></i>
                        <p>Modifier mon profil</p>
                        <span>></span>
                    </a>
                    </a>
                    <a href="#" class="user-icone">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <p>Se deconnecter</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </ul>
    </nav>
</div>
<!--FIN NAV-->

<nav class="user">
<ul class="nav justify-content-center ">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="POFIL.html">Tableau de bord</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="publication.html">publication d'article</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="listedarticle.html">Liste d'article</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " href="" >Mon abonnement</a>
    </li>
  </ul>
</nav>


    
<div class="container-fluid" >
    <div class="row">
        <div  class="col-md-4 mt-4">
            <div class="card">
<h3>titre de l'article</h3>
<p>presentation de l'article
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur aperiam dolor repellendus, 
    enim sint neque iure! Ipsa, repellendus! Magni 
    aspernatur repellendus, fuga enim ullam nisi deleniti expedita corporis facere numquam?
</p>
<img class="mb-4" src="asset/image/A-20.jpg" alt="">
<div id="monElement">
<button class="btn btn-outline-primary" id="modifier">Modifier</button>
<button class="btn btn-outline-danger" id="supprimer">supprimer</button>
</div>
</div></div>

<div  class="col-md-4 mt-4">
    <div class="card">
<h3>titre de l'article</h3>
<p>presentation de l'article
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur aperiam dolor repellendus, 
enim sint neque iure! Ipsa, repellendus! Magni 
aspernatur repellendus, fuga enim ullam nisi deleniti expedita corporis facere numquam?
</p>
<img class="mb-4" src="asset/image/A-20.jpg" alt="">
<div id="monElement">
<button class="btn btn-outline-primary" id="modifier">Modifier</button>
<button class="btn btn-outline-danger" id="supprimer">supprimer</button>
</div>
</div></div>

<div  class="col-md-4 mt-4">
    <div class="card" >
<h3>titre de l'article</h3>
<p>presentation de l'article
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur aperiam dolor repellendus, 
enim sint neque iure! Ipsa, repellendus! Magni 
aspernatur repellendus, fuga enim ullam nisi deleniti expedita corporis facere numquam?
</p>
<img class="mb-4" src="asset/image/A-20.jpg" alt="">
<div id="monElement">
<button class="btn btn-outline-primary" id="modifier">Modifier</button>
<button class="btn btn-outline-danger" id="supprimer">supprimer</button>
</div>
</div></div>

<div  class="col-md-4 mt-4">
    <div class="card">
<h3>titre de l'article</h3>
<p>presentation de l'article
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur aperiam dolor repellendus, 
enim sint neque iure! Ipsa, repellendus! Magni 
aspernatur repellendus, fuga enim ullam nisi deleniti expedita corporis facere numquam?
</p>
<img class="mb-4" src="asset/image/A-20.jpg" alt="">
<div>
<button class="btn btn-outline-primary" id="modifier">Modifier</button>
<button class="btn btn-outline-danger" id="supprimer">supprimer</button>
</div>
</div></div>


</div>
</div>






<script src="asset/js/navbar.js"></script>
    <script src="asset/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>