<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/CSS/bootstrap.min.css">
    <title>differentservice</title>
</head>
<body>

    <div>
        <img class="mb-5 w-100" src='https://placehold.it/1265x400' alt=''/>
    </div>


<div class="container">
  <h1 class="mt-5 ">Service</h1>
<section class="mt-3">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque illum, rerum animi omnis, cupiditate iusto veniam ducimus
         placeat accusantium beatae eos, minima nobis. Cupiditate, dolor. Quidem tempora ipsa veniam nulla.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ipsa quas enim beatae quisquam laudantium. Recusandae
         perferendis qui sunt! Quasi numquam eaque facere nobis itaque voluptatibus explicabo, cumque delectus voluptatum.</p>
</section>
</div>







    <script src="asset/js/bootstrap.bundle.min.js"></script>
</body>
</html>