<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="asset/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="asset/CSS/carddesartisans.css">
    <title>Document</title>
</head>
<body>


     
 


<div class="container">
<div class="row">
  <div class="col-md-3">
<div class="card mt-3">
    <div class="heads"> <img src="asset/image/d.jpg" alt=""></div>
    
    <div class="bodys">
        <div class="info text-center"><h2 >Nom prénoms</h2>
    <h4>Metier</h4> </div>
<div class="appel text-center">
    <a href="tel: 22502028789"><i class="fa-solid fa-phone "></i></a>
    <a href="https.//wa.me/ 234567890"><i class="fa-brands fa-whatsapp "></i></a>
</div>

 </div>
</div></div>

<div class="col-md-3">
  <div class="card mt-3">
      <div class="heads"> <img src="asset/image/d.jpg" alt=""></div>
      
      <div class="bodys">
          <div class="info text-center"><h2 >Nom prénoms</h2>
      <h4>Metier</h4> </div>
  <div class="appel text-center">
      <a href="tel: 22502028789"><i class="fa-solid fa-phone "></i></a>
      <a href="https.//wa.me/ 234567890"><i class="fa-brands fa-whatsapp "></i></a>
  </div>
  
   </div>
  </div></div>

  <div class="col-md-3">
    <div class="card mt-3">
        <div class="heads"> <img src="asset/image/d.jpg" alt=""></div>
        
        <div class="bodys">
            <div class="info text-center"><h2 >Nom prénoms</h2>
        <h4>Metier</h4> </div>
    <div class="appel text-center">
        <a href="tel: 22502028789"><i class="fa-solid fa-phone "></i></a>
        <a href="https.//wa.me/ 234567890"><i class="fa-brands fa-whatsapp "></i></a>
    </div>
    
     </div>
    </div></div>

    <div class="col-md-3">
      <div class="card mt-3">
          <div class="heads"> <img src="asset/image/d.jpg" alt=""></div>
          
          <div class="bodys">
              <div class="info text-center"><h2 >Nom prénoms</h2>
          <h4>Metier</h4> </div>
      <div class="appel text-center">
          <a href="tel: 22502028789"><i class="fa-solid fa-phone "></i></a>
          <a href="https.//wa.me/ 234567890"><i class="fa-brands fa-whatsapp "></i></a>
      </div>
      
       </div>
      </div></div>

      <div class="col-md-3">
        <div class="card mt-3">
            <div class="heads"> <img src="asset/image/d.jpg" alt=""></div>
            
            <div class="bodys">
                <div class="info text-center"><h2 >Nom prénoms</h2>
            <h4>Metier</h4> </div>
        <div class="appel text-center">
            <a href="tel: 22502028789"><i class="fa-solid fa-phone "></i></a>
            <a href="https.//wa.me/ 234567890"><i class="fa-brands fa-whatsapp "></i></a>
        </div>
        
         </div>
        </div></div>

        <div class="col-md-3">
          <div class="card mt-3">
              <div class="heads"> <img src="asset/image/d.jpg" alt=""></div>
              
              <div class="bodys">
                  <div class="info text-center"><h2 >Nom prénoms</h2>
              <h4>Metier</h4> </div>
          <div class="appel text-center">
              <a href="tel: 22502028789"><i class="fa-solid fa-phone "></i></a>
              <a href="https.//wa.me/ 234567890"><i class="fa-brands fa-whatsapp "></i></a>
          </div>
          
           </div>
          </div></div>
            
</div>
</div>






  







    <script src="asset/js/bootstrap.bundle.min.js"></script>
</body>
</html>